Technical Requirements

Windows 1.03 decomp project

* To decompile the entirety of Windows 1.03 and produce a working set of floppy images where all files are identical to those in Windows 1.03 (internal Microsoft build, 8/16/86) excluding extras.

Requirements:
* Knowledge of x86-16 ASM, very old C
* MSC4.0 manual 
* MASM ~3.0 manual

Sources:
* Debugging symbols and debug builds for KERNEL / GDI / USER
* Windows 3.1 KERNEL source code (NT782\MVDM\WOW16\KERNEL31)
* Manuals
* Iris Softworks pre-release 1.01 source code (LIBW, KERNEL, GDI, OEM, USER only). #ifdef IRIS from the 